DEBUG=

SECRET_KEY=
NAME=
USER=
PASSWORD=
HOST=
PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

STRIPE_API_KEY=
EXCHANGE_API_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=