# PyCharm / JetBrains
.idea/
*.iws
*.iml
*.ipr

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Environments
venv/
.venv/
env/
.env


.venv
venv
.idea
*.pyc
.coverage
htmlcov/
postgres_data/
redis_data/